        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: black;
        }

        #game-container canvas {
            border: 1px solid white;
        }